@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 100% 20%, 100% 35%;
}

:root {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 500px;
  padding: 6em 0 6em 0;
}

.firstSection {
  text-align: center;
  padding-bottom: 3em;
}

.firstContainer {
  padding: 1.5em;
  margin-bottom: 2em;
}

.firstContainer_h3 {
  color: hsl(300, 43%, 22%);
  font-size: 2.1rem;
  margin-bottom: 1em;
}

.firstContainer_p {
  line-height: 150%;
}

.secondContainer_card {
  background-color: hsl(300, 24%, 93%);
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1.2em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.secondContainer_p {
  padding-top: 1em;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.secondSection_card {
  width: 85%;
  background-color: hsl(300, 43%, 22%);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 2.5em;
  border-radius: 0.7em;
  margin-bottom: 1.2em;
}

.secondSection_p {
  font-size: 0.9rem;
  line-height: 170%;
}

.secondSection_flex {
  display: flex;
  margin-bottom: 2em;
}

.secondSection_img {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-right: 2em;
  display: block;
}

.secondSection_name {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.secondSection_buyer {
  color: hsl(333, 40%, 57%);
}

@media (min-width: 1000px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 33% 45%, 75% 80%;
    min-height: 100vh;
  }
  .container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .firstSection {
    display: flex;
    justify-content: space-between;
  }

  ._secondContainer {
    width: 55%;
  }

  .firstContainer_h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .firstContainer {
    text-align: left;
    padding: 0;
    width: 40%;
    margin-bottom: 0;
  }

  .secondContainer_card {
    display: flex;
    justify-content: space-evenly;

    width: 70%;
  }

  .secondContainer_card {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .secondContainer_card:first-child {
    margin-left: 0;
  }
  .secondContainer_card:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .secondContainer_p {
    padding-top: 0;
  }
  .secondSection {
    display: flex;
    margin-bottom: 0;
  }

  .secondSection_card {
    margin-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .secondSection_card-one {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 0;
  }

  .secondSection_card-three {
    align-self: flex-end;
    margin-right: 0;
    margin-bottom: 0;
    transform: translateY(3rem);
  }

  .secondSection_card-two {
    align-self: center;
    transform: translateY(1.5rem);
    margin-bottom: 0;
  }
}
